# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db